<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif
        }
        main {
            background-color: #153A6B;
        }
        span {
            font-weight: bold;
        }
        button {
            background: "#031541",
            color: white;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            padding-top: 0.15rem;
            padding-bottom: 0.15rem;
            border-radius: 15px;
        }
    </style>

</head>
<body>
<main>
    <h3>Email Verification</h3>
    <p>Please click the link below to verify your email</p>
    <button >
        <a th:href="${resetPasswordUrl}" th:text="Verify"></a>
    </button>
    <p>Best regards,<br/>BSIT-43</p>
</main>
</body>
</html>
